.header{
    width: 100%;
}

.header__banner{
    color: var(--text-color);
    background: var(--secondary-header-bg);
    max-height: 50px;
}

.header__banner .wrapper{
    display: flex;
    justify-content: space-between;
}

.header__banner__info{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__banner__info p{
    display: flex;
    align-items: center;
    font-size: var(--font-small);
    gap: 10px;
}

.header__banner__logo{
    width: 20px;
    height: 20px;
}

.header__banner__socials{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    list-style: none;
    gap: 20px;
}

.header__banner__social{
  color: var(--color-white);
}
  
/* .header__banner__social:focus {
    border: 1px solid red;
    width: 20%;
} */

.side-bar {
    width: 30px;
    height: 30px;
    display: none;
    fill: var(--color-crow-black-blue);
}

.header__navigation{
    height: 70px;
    max-height: 70px;
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.15);
}

.header__navigation .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation__pages{
    display: flex;
    width: 40%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

.header__navigation__page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    font-size: --font-small;
    color: var(--primary-text-color);
}

.header__navigation__page:hover, .header__navigation__page:target {
    border-radius: 15px;
    color: var(--secondary-text-color);
    border: 1px solid var(--color-purplish-blue);
  }
  
  .header__navigation__page:focus {
  outline: 1px solid var(--color-purplish-blue);
  color: var(--secondary-text-color);
  border-radius: 15px;
}


@media only screen and  (max-width: 1200px) {
  .header__banner__info{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 40px;
}

  .header__navigation__pages{
      width: 50%;
  } 

  .header__banner__info{
    width: 70%;
}

  .header__banner__info p{
    font-size: 1rem;
  }
}

@media only screen and  (max-width: 768px) {
    .header__banner__info{
        width: 80%;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header__navigation__pages{
        width: 50%;
    } 

    .header__banner__info{
      width: 70%;
  }

  .header__banner__info p{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 576px) {
  .header__banner{
    width: 100%;
  }

  .header__banner__info{
    width: 100%;
  }

   .header__banner__info p{
    font-size: 0.6rem;
    }

  .header__banner__socials{
    display: none;
  }

  .side-bar{
    display: inline-block;
  }
  
  .edunity-logo{
    /* display: none; */
    width: 30%;
  }

  .header__navigation__pages{
    display: none;
  }
}