@import url("./assets/reset.css");

:root{
    --color-white: #FFFFFF;
    --color-crow-black-blue: #0E2A46;
    --color-purplish-blue: #674DF0;
    --color-medium-slate-blue: #7768E5;
    --color-jadeite: #2FC7A1;
    --eye-patch: #222222;

    --text-color: var(--color-white);
    --primary-text-color: var(--color-crow-black-blue);
    --secondary-text-color: var(--color-purplish-blue);
    --accent-text-color: var(--color-jadeite);
    
    --primary-bg: var(--color-white);
    --primary-header-bg: var(--color-white);
    --secondary-header-bg: var(--color-crow-black-blue);
    --primary-button-bg: var(--color-medium-slate-blue);
    --secondary-button-bg: var(--color-jadeite);
    --footer-bg: var(--eye-patch);

    font-size: 10px;
    --font-small: clamp(1.4rem, 1vw, 1.6rem);
    --font-medium: clamp(1.6rem, 2vw, 2rem);
    --font-large: clamp(2rem, 2.5vw, 2.5rem);
    --font-heading: clamp(2.5rem, 3vw, 3.6rem);

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    
}

.wrapper{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}


@media only screen and  (max-width: 1440px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and  (max-width: 992px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    width: 90%;
  }
}
